@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark {
  &:where(.dark, .dark *) &;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044E5;
}
